body {
    padding-top: 80px;
    padding-bottom: 20px;
    min-height: 100%;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
    height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background-color: darkgrey;
}

#top-brand-name {
    padding-right: 10px;
    font-family: 'Lobster';
}

.blue-text {
    color: midnightblue;
    font-weight: bold;
}

p, h1, h2, button {
    font-family: 'Roboto';
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}

.carousel-prop {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.carousel-jumbotron {
    padding-bottom: 20px;
    padding-top: 20px;
}

.form-field {
    padding: 10px;
}

.text-form-editor{
    width: 400px;
}

.number-form-editor {
    width: 100px;
}

.Like_hyperlink {
    cursor: pointer;
    color: #007bff;
}

    .Like_hyperlink:hover {
        font-weight: bold;
    }

.pagination-center {
    padding-bottom: 20px;
    text-align: center;
}
