
@model PagedList.IPagedList<Supermarket.Models.Product>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Shop";
}

<h1>Our Products:</h1>

<p>
    Find by name: <input id="SearchString" name="SearchString" type="text" value="" />
    <input type="button" value="Search" id="btnSearch" />
</p>
<div id="ProductList">
    @Html.Partial("_ProductList", Model)
</div>

@section scripts
{
    <script type="text/javascript">
        // Adding popstate event listener to handle browser back button
        window.addEventListener("popstate", function (e) {
            $.ajax({
                url: location.href,
                success: function (result) {
                    $('#ProductList').html(result);
                }
            });
        });

        // update the url to reflect the table
        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(null, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        // get the values from the url
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        // search function
        function search() {
            $.ajax({
                url: "/Shop/Index?searchString=" + $('#SearchString').val(),
                success: function (result) {
                    ChangeUrl("index", "/Shop/Index?searchString=" + $('#SearchString').val());
                    $('#ProductList').html(result);
                }
            });
        }

        $(function () {

            // Search and Enter:
            $("#btnSearch").click(function () {
                search();
            });
            $("#SearchString").keypress(function (e) {
                if (e.keyCode == 13) {
                    search();
                }
            });

            // refresh? recreates the url...
            $('body').on('click', '#ProductList .pagination .sort', function (event) {
                event.preventDefault();
                console.log('page');
                var searchString = $('#SearchString').val();
                if (searchString == undefined || searchString == '') {
                    searchString = '';
                } else {
                    searchString = '&searchString=' + searchString;
                }
                var url = $(this).attr('href') + searchString;
                console.log(url);
                $.ajax({
                    url: url,
                    success: function (result) {
                        ChangeUrl('index', url);
                        $('#ProductList').html(result);
                    }
                });
            });

            // do sorting
            $('body').on('click', '#ProductList .table .sort', function (event) {

                event.preventDefault();

                var searchString = $('#SearchString').val();
                if (searchString == undefined || searchString == '') {
                    searchString = '';
                } else {
                    searchString = '&searchString=' + searchString;
                }
                //switch acs / desc
                var columnToSort = $(this).text();
                var currentSortOption = getUrlVars()['sortOption'];
                console.log(currentSortOption);
                var sort;
                switch (currentSortOption) {
                    case "name_acs":
                        sort = 'sortOption=name_desc';
                        break;
                    case "name_desc":
                        sort = 'sortOption=name_acs';
                        break;
                    case "price_acs":
                        sort = 'sortOption=price_desc';
                        break;
                    case "price_desc":
                        sort = 'sortOption=price_acs';
                        break;
                    case "stock_acs":
                        sort = 'sortOption=stock_desc';
                        break;
                    case "stock_desc":
                        sort = 'sortOption=stock_acs';
                        break;
                    default:
                        sort = '';
                        break;
                }

                //switch sort type
                switch (columnToSort) {
                    case 'Name':
                        if (currentSortOption != 'name_acs' && currentSortOption != 'name_desc') {
                            sort = 'sortOption=name_acs';
                        }
                        break;
                    case 'Price':
                        if (currentSortOption != 'price_acs' && currentSortOption != 'price_desc') {
                            sort = 'sortOption=price_acs';
                        }
                        break;
                    case 'Stock':
                        if (currentSortOption != 'stock_acs' && currentSortOption != 'stock_decs') {
                            sort = 'sortOption=stock_acs';
                        }
                        break;
                    default:
                        sort = '';
                        break;

                }
                if (sort != '' & searchString != '') {
                    sort = '&' + sort;
                }

                var url = '/Shop/Index?' + searchString + sort;
                $.ajax({
                    url: url,
                    success: function (result) {
                        ChangeUrl('index', url);
                        $('#ProductList').html(result);
                    }
                });
            });

        });

    </script>
}