@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1 class="blue-text">@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac orci ac purus consequat iaculis ac id risus. Donec nec lacinia ante. Duis ornare et mauris nec eleifend. Nam vel arcu ac magna dignissim tempus. Morbi venenatis leo quis eros molestie efficitur. Nam ullamcorper commodo augue, id interdum urna volutpat eget. Quisque et suscipit turpis. Aenean varius mauris sit amet tortor sagittis, id hendrerit massa aliquet. Quisque pellentesque metus nec orci interdum, vitae finibus felis interdum. Curabitur tristique sapien quis elit semper, ut ultricies neque placerat.
    </p>
    <p>
        In consequat velit a risus maximus condimentum. Aliquam fermentum id sapien at auctor. Morbi elementum non eros lobortis vestibulum. Vivamus consequat sit amet mi ac bibendum. Ut eget libero vel sapien luctus cursus eu ac orci. Nullam vitae condimentum quam. Maecenas at sollicitudin quam. Curabitur accumsan efficitur nisl, et finibus libero sodales eget.
    </p>
    <p>
        Integer congue sed neque dignissim blandit. In ultrices fermentum quam vitae posuere. Donec convallis ex accumsan libero vestibulum, ut interdum nunc euismod. Praesent id ligula non urna tincidunt ultricies a id quam. In non mollis sapien. Donec iaculis mauris in gravida rutrum. Donec venenatis auctor leo.
    </p>
    <p>
        Donec vitae imperdiet augue. Quisque sit amet elementum purus, sed ornare diam. Vivamus id tristique orci, a tempus massa. Aenean metus tellus, tincidunt id pretium et, dapibus eu dolor. Cras rutrum vehicula neque, vitae placerat velit euismod vitae. Morbi dictum laoreet dolor, eu pulvinar dui efficitur non. Donec sapien massa, malesuada ac mi vel, pretium cursus massa. Praesent vel massa placerat, efficitur nisl vitae, bibendum turpis. Integer mattis tortor sed nisi tincidunt porttitor ac dictum nisi. Fusce vulputate urna metus, in congue enim convallis vitae.
    </p>
    <p>
        Mauris at metus nec ex venenatis ultricies. Cras gravida nunc efficitur, condimentum nisl quis, vulputate lectus. Mauris luctus ultrices nulla, quis pretium sapien mollis vel. Vestibulum ligula tortor, interdum quis ipsum vel, vulputate tempus neque. Aenean egestas finibus lacus quis iaculis. Maecenas semper sem ipsum. Vestibulum tortor est, mollis at convallis malesuada, tempus tincidunt orci. Pellentesque ut leo erat. Cras pellentesque suscipit sagittis. Vivamus tincidunt, elit eget lobortis mollis, mi leo elementum mi, ut tempus purus turpis id quam. Praesent sed viverra neque. Maecenas non viverra est. Nunc ut nunc luctus, consectetur purus in, egestas velit. Praesent malesuada interdum erat, id tincidunt felis posuere at. Aliquam vel ornare ante, in tristique felis.
    </p>
</div>