
@{
    ViewBag.Title = "Admin Home Page";
}

<h1>Admin Home Page:</h1>
<br />
@Html.ActionLink("Products", "Products")
<br />
@Html.ActionLink("Categories", "Categories")
<br />
@Html.ActionLink("Orders", "Orders")
<br />
@Html.ActionLink("new Admin", "NewAdmin")


